In [11]:
import pandas_datareader.data as web
import datetime

In [12]:
start = datetime.datetime(2021,9,1)
end = datetime.datetime(2021,9,30)

In [13]:
google = web.DataReader("GOOGL",'yahoo',start,end)
google
#vos = web.DataReader("VOS",'ssi',start,end)
#vos

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-12-31,1757.500000,1736.089966,1737.270020,1752.640015,1053500,1752.640015
2021-01-04,1762.489990,1707.140015,1760.000000,1726.130005,1866200,1726.130005
2021-01-05,1746.829956,1716.900024,1725.089966,1740.050049,1018000,1740.050049
2021-01-06,1743.969971,1696.099976,1700.260010,1722.880005,2329400,1722.880005
2021-01-07,1777.819946,1726.760010,1726.760010,1774.339966,2096800,1774.339966
...,...,...,...,...,...,...
2021-08-12,2746.000000,2708.510010,2719.510010,2743.879883,825300,2743.879883
2021-08-13,2757.129883,2740.659912,2745.000000,2754.550049,797000,2754.550049
2021-08-16,2767.250000,2705.979980,2750.500000,2766.189941,1119200,2766.189941
2021-08-17,2765.310059,2721.639893,2755.000000,2733.229980,1085800,2733.229980
2021-08-18,2742.090088,2706.429932,2730.000000,2708.979980,962900,2708.979980

In [14]:
google.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-12-31,1757.500000,1736.089966,1737.270020,1752.640015,1053500,1752.640015
2021-01-04,1762.489990,1707.140015,1760.000000,1726.130005,1866200,1726.130005
2021-01-05,1746.829956,1716.900024,1725.089966,1740.050049,1018000,1740.050049
2021-01-06,1743.969971,1696.099976,1700.260010,1722.880005,2329400,1722.880005
2021-01-07,1777.819946,1726.760010,1726.760010,1774.339966,2096800,1774.339966

In [15]:
google.describe()

,High,Low,Open,Close,Volume,Adj Close
count,159.000000,159.000000,159.000000,159.000000,1.590000e+02,159.000000
mean,2274.860117,2234.197614,2253.781630,2256.446348,1.559138e+06,2256.446348
std,271.963974,277.211428,277.301063,275.584656,6.848799e+05,275.584656
min,1743.969971,1696.099976,1700.260010,1722.880005,7.151000e+05,1722.880005
25%,2076.920044,2028.500000,2054.000000,2053.944946,1.119350e+06,2053.944946
50%,2294.239990,2255.510010,2270.179932,2279.010010,1.355000e+06,2279.010010
75%,2451.094971,2424.185059,2439.944946,2443.994995,1.736350e+06,2443.994995
max,2767.250000,2740.659912,2755.000000,2766.189941,4.894100e+06,2766.189941

In [20]:
def inc_dec(c, o):
    if c > o:
        value="Increase"
    elif c < o:
        value="Decrease"
    else:
        value="Equal"
    return value

google["Status"]=[inc_dec(c,o) for c, o in zip(google.Close,google.Open)]
google["Middle"]=(google.Open + google.Close)/2
google["Height"]=abs(-google.Open + google.Close)
google

,High,Low,Open,Close,Volume,Adj Close,Status,Middle,Height
Date,,,,,,,,,
2020-12-31,1757.500000,1736.089966,1737.270020,1752.640015,1053500,1752.640015,Increase,1744.955017,15.369995
2021-01-04,1762.489990,1707.140015,1760.000000,1726.130005,1866200,1726.130005,Decrease,1743.065002,33.869995
2021-01-05,1746.829956,1716.900024,1725.089966,1740.050049,1018000,1740.050049,Increase,1732.570007,14.960083
2021-01-06,1743.969971,1696.099976,1700.260010,1722.880005,2329400,1722.880005,Increase,1711.570007,22.619995
2021-01-07,1777.819946,1726.760010,1726.760010,1774.339966,2096800,1774.339966,Increase,1750.549988,47.579956
...,...,...,...,...,...,...,...,...,...
2021-08-12,2746.000000,2708.510010,2719.510010,2743.879883,825300,2743.879883,Increase,2731.694946,24.369873
2021-08-13,2757.129883,2740.659912,2745.000000,2754.550049,797000,2754.550049,Increase,2749.775024,9.550049
2021-08-16,2767.250000,2705.979980,2750.500000,2766.189941,1119200,2766.189941,Increase,2758.344971,15.689941
2021-08-17,2765.310059,2721.639893,2755.000000,2733.229980,1085800,2733.229980,Decrease,2744.114990,21.770020
2021-08-18,2742.090088,2706.429932,2730.000000,2708.979980,962900,2708.979980,Decrease,2719.489990,21.020020

In [26]:
from bokeh.plotting import figure, show, output_file

p = figure(x_axis_type='datetime', width=1000, height=300)
p.title.text = "Candlestick Chart"

hours_12 = 12 * 60 * 60 * 1000

#tÄƒng
p.rect(google.index[google.Status=="Increase"],google.Middle[google.Status=="Increase"],
   hours_12, google.Height[google.Status=="Increase"],fill_color="#CCFFFF",
   line_color="black")
#giáº£m
p.rect(google.index[google.Status=="Decrease"],google.Middle[google.Status=="Decrease"],
   hours_12, google.Height[google.Status=="Decrease"],fill_color="#FF3333",
   line_color="black")

p.segment(google.index, google.High, google.index, google.Low, color="Black")

output_file("chart.html")
show(p)