In [18]:
import pandas_datareader.data as web
import datetime

In [19]:
start = datetime.datetime(2021,1,1)
end = datetime.datetime(2021,8,18)

In [20]:
google = web.DataReader("GOOGL",'yahoo',start,end)
google
#vos = web.DataReader("VOS",'ssi',start,end)
#vos

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-12-31,1757.500000,1736.089966,1737.270020,1752.640015,1053500,1752.640015
2021-01-04,1762.489990,1707.140015,1760.000000,1726.130005,1866200,1726.130005
2021-01-05,1746.829956,1716.900024,1725.089966,1740.050049,1018000,1740.050049
2021-01-06,1743.969971,1696.099976,1700.260010,1722.880005,2329400,1722.880005
2021-01-07,1777.819946,1726.760010,1726.760010,1774.339966,2096800,1774.339966
...,...,...,...,...,...,...
2021-08-11,2753.649902,2725.429932,2743.629883,2725.580078,767600,2725.580078
2021-08-12,2746.000000,2708.510010,2719.510010,2743.879883,825300,2743.879883
2021-08-13,2757.129883,2740.659912,2745.000000,2754.550049,797000,2754.550049
2021-08-16,2767.250000,2705.979980,2750.500000,2766.189941,1119200,2766.189941
2021-08-17,2765.310059,2721.639893,2755.000000,2733.229980,1085100,2733.229980

In [21]:
google.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-12-31,1757.500000,1736.089966,1737.270020,1752.640015,1053500,1752.640015
2021-01-04,1762.489990,1707.140015,1760.000000,1726.130005,1866200,1726.130005
2021-01-05,1746.829956,1716.900024,1725.089966,1740.050049,1018000,1740.050049
2021-01-06,1743.969971,1696.099976,1700.260010,1722.880005,2329400,1722.880005
2021-01-07,1777.819946,1726.760010,1726.760010,1774.339966,2096800,1774.339966

In [22]:
google.describe()

,High,Low,Open,Close,Volume,Adj Close
count,158.000000,158.000000,158.000000,158.000000,1.580000e+02,158.000000
mean,2271.902965,2231.208802,2250.767590,2253.582211,1.562908e+06,2253.582211
std,270.252184,275.510886,275.557683,274.076652,6.854004e+05,274.076652
min,1743.969971,1696.099976,1700.260010,1722.880005,7.151000e+05,1722.880005
25%,2076.575012,2028.250000,2053.800049,2053.787415,1.120125e+06,2053.787415
50%,2292.010010,2253.339966,2268.804932,2278.694946,1.360300e+06,2278.694946
75%,2450.067444,2421.240051,2438.667419,2442.352539,1.738075e+06,2442.352539
max,2767.250000,2740.659912,2755.000000,2766.189941,4.894100e+06,2766.189941

In [23]:
def inc_dec(c, o):
    if c > o:
        value="Increase"
    elif c < o:
        value="Decrease"
    else:
        value="Equal"
    return value

google["Status"]=[inc_dec(c,o) for c, o in zip(google.Close,google.Open)]
google

,High,Low,Open,Close,Volume,Adj Close,Status
Date,,,,,,,
2020-12-31,1757.500000,1736.089966,1737.270020,1752.640015,1053500,1752.640015,Increase
2021-01-04,1762.489990,1707.140015,1760.000000,1726.130005,1866200,1726.130005,Decrease
2021-01-05,1746.829956,1716.900024,1725.089966,1740.050049,1018000,1740.050049,Increase
2021-01-06,1743.969971,1696.099976,1700.260010,1722.880005,2329400,1722.880005,Increase
2021-01-07,1777.819946,1726.760010,1726.760010,1774.339966,2096800,1774.339966,Increase
...,...,...,...,...,...,...,...
2021-08-11,2753.649902,2725.429932,2743.629883,2725.580078,767600,2725.580078,Decrease
2021-08-12,2746.000000,2708.510010,2719.510010,2743.879883,825300,2743.879883,Increase
2021-08-13,2757.129883,2740.659912,2745.000000,2754.550049,797000,2754.550049,Increase
2021-08-16,2767.250000,2705.979980,2750.500000,2766.189941,1119200,2766.189941,Increase
2021-08-17,2765.310059,2721.639893,2755.000000,2733.229980,1085100,2733.229980,Decrease